html {
	overflow-y: auto;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: space-between;
	font-family: "Times New Roman", Times, serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background: -webkit-linear-gradient( to top, #FF71CE, #01CDFE);
	background: -moz-linear-gradient( to top, #FF71CE, #01CDFE);
	background: -ms-linear-gradient( to top, #FF71CE, #01CDFE);
	background: -o-linear-gradient( to top, #FF71CE, #01CDFE);
	background: linear-gradient( to top, #FF71CE, #01CDFE);
}

fieldset {
	margin: 0;
}

main {
	align-self: center;
	width: 100vw;
}

.title {
	color: #fffb96;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.title .english {
	display: block;
	padding-left: 4vw;
	letter-spacing: 6vw;
	font-size: 10vw;
	line-height: 10vw;
	padding-bottom: 2.5vw;
}

.foreignTitle {
	font-size: 4vw;
	line-height: 5vw;
}

.title .vietnamese, .title .japanese {
	display: block;
}

.title .vietnamese {
	/*font-style: italic;*/
	/*text-transform: lowercase;*/
}

.label {
	display: block;
}

.label.password {
	text-transform: lowercase;
	color: 	#05FFA1;
	text-align: center;
	padding: 1vw;
	font-style: italic;
	font-size: 4vw;
	line-height: 4vw;
	padding-top: 2vw;
}

input:focus {
	outline: none;
}

input[type='password'] {
	display: block;
	margin: 0 auto;
	padding: 0;
	border-style: solid;
	box-sizing: border-box;
	/*color: #05FFA1;*/
	color: #B967FF;
	font-size: 4vw;
	width: 90vw;
	border-width: 0.1vw;
	padding: 2vw;
}

.form-controls {
	text-align: center;
}

input[type='submit'] {
	text-align: center;
	padding: 0.5vw;
	border-width: 0.5vw;
	border-color: transparent;
	text-transform: uppercase;
	background-color: transparent;
	text-decoration: underline;
	color: #05FFA1;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 4vw;
	line-height: 4vw;
}
input[type='submit']:hover, input[type='submit']:focus {
	border-color: #B967FF;
	cursor: pointer;
}
input[type='submit']:disabled {
	color: #ACE5d0;
	border-color: transparent;
	cursor: not-allowed;
}

.accept-tou {
	margin: 0 auto;
	text-align: center;
}

#accept-tou {
	font-size: 2vw;
	line-height: 2vw;
}

#acceptTouLabel {
	font-size: 2vw;
	line-height: 2vw;
}

.tou-wrapper {
	width: 90vw;
	margin: 0 auto;
	border: 0.1rem solid #B967FF;
	background-color: #FFFB96;
	color: #B967FF;
	padding: 1vw;
	font-size: 2vw;
	line-height: 2vw;
}

footer {
	height: 4.5vw;
}

.footerText {
	color: 	#05FFA1;
	text-transform: lowercase;
	font-size: 3vw;
	line-height: 4.5vw;
	letter-spacing: 3vw;
}


@media screen and (min-width: 320px) {
}
@media screen and (min-width: 480px) {
	body {
	}
}
@media only screen and (min-width: 640px) {
	body {
	}

	input[type='password'] {
		font-size: 3vw;
		padding: 1vw;
		width: 50vw;
	}

	#accept-tou, #acceptTouLabel, .tou-wrapper {
		font-size: 1.5vw;
		line-height: 1.5vw;
	}
}
@media only screen and (min-width: 768px) {
	.title .english {
		padding-left: 4vw;
		letter-spacing: 6vw;
		font-size: 9vw;
		line-height: 9vw;
		padding-bottom: 2vw;
	}

	.foreignTitle {
		font-size: 3vw;
		line-height: 3vw;
	}

	.title .vietnamese, .title .japanese {
		display: inline;
	}

	.title .russian:after {
		content: ' | '
	}

	.title .vietnamese:after {
		content: ' | '
	}

	.label.password {
		padding: 1vw;
		font-size: 3vw;
		line-height: 3vw;
		padding-top: 2vw;
	}

	#accept-tou, #acceptTouLabel, .tou-wrapper {
		font-size: 1vw;
		line-height: 1vw;
	}

	footer {
		height: 3vw;
	}
	.footerText {
		font-size: 2vw;
		line-height: 3vw;
		letter-spacing: 3vw;
	}

}
@media only screen and (min-width: 1024px) {
	body {
	}
}
@media only screen and (min-width: 1280px) {
	body {
	}

	.title .english {
		padding-left: 2vw;
		letter-spacing: 4vw;
		font-size: 8vw;
		line-height: 8vw;
		padding-bottom: 1vw;
	}

	.title .russian, .title .japanese {
		font-size: 4vw;
		line-height: 4vw;
	}
}
@media only screen and (min-width: 1440px) {
	body {
	}
}


a {
	color: #e0e0e0;
}

a:active, a:focus {
	outline: 0;
}

h2 {
	color: #fffb96;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
h2.error {
	background-color: #922;
}

.login-content {
	/*background-color: #8b8b8b;*/
	/*border: 0.1rem solid #515151;*/
	/*width: 50vw;*/
	margin: 0 auto;
}





div.options-box {
	text-align: center;
}

div.options-box label {
	padding-left: 3px;
	padding-right: 8px;
}

div.credit-box dl {
	padding-left: 30px;
}

div.tou p {
	margin-bottom: 5px;
}

div.tou ul li {
	list-style: circle;
}

div.authed {
	padding-bottom: 25px;
}

